

<nav id="nav-bar">

  <nav id="opcoes-help">
    <span id="time">00:00 pm</span>
    <a href="/home"><img src="assets/img/bk-section-1/logo.png" alt=""></a>
    <ul>
      <li><a href="/home">HOME</a></li>
      <li><a href="">SOBRE</a></li>
      <li><a href="">NOVIDADES</a>
        <div></div>
      </li>
      <li><a href="">BLOG</a></li>
      <li><a href="">CONTATO</a></li>

    </ul>
    <div>
      <button><a href="/login">LOGIN</a></button>
      <button> <a href="/cadastro">CADASTRO</a></button>
    </div>

  </nav>




  <div class="rodape-1">

  </div>
  <div class="rodape-2">

  </div>

</nav>


<!-- MENU OPÇÕES -->
<nav id="opcoes-menu">
  <ul>
    <li><a href="/home">FÓRUM</a></li>
    <li><a href="/android">ANDROID</a></li>
    <li><a href="/apple">APPLE <img src="assets/gif/apple-1.gif" alt="" width="60vw" style="mix-blend-mode: screen;"></a></li>
    <li><a href="/windows">WINDOWS</a></li>
    <li><a href="">REVIEWS</a></li>
  </ul>
</nav>



<!-- CONTEÚDO -->


<section id="container">



</section>
















<!-- FOOTER -->

<footer class="footer text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <!-- About -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Sobre nós</h5>
        <p>
          Fornecemos serviços de qualidade com dedicação e compromisso. Nossa missão é garantir a satisfação do cliente
          em todas as etapas.
        </p>
      </div>

      <!-- Services -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Serviços</h5>
        <ul class="list-unstyled mb-0">
          <li class="icon-text"><i class="fas fa-cogs"></i><a href="#!" class="text-reset">Consultoria</a></li>
          <li class="icon-text"><i class="fas fa-laptop-code"></i><a href="#!" class="text-reset">Desenvolvimento</a>
          </li>
          <li class="icon-text"><i class="fas fa-headset"></i><a href="#!" class="text-reset">Suporte</a></li>
          <li class="icon-text"><i class="fas fa-chalkboard-teacher"></i><a href="#!" class="text-reset">Treinamento</a>
          </li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contato</h5>
        <ul class="list-unstyled mb-0">
          <li class="icon-text"><i class="fas fa-envelope"></i><a href="#" class="text-reset">Email: Acesse</a></li>
          <li class="icon-text"><i class="fas fa-phone"></i><a href="#!" class="text-reset">Telefone: (61) 981579569</a>
          </li>
          <li class="icon-text"><i class="fas fa-map-marker-alt"></i><a href="https://maps.app.goo.gl/Fy5hP6F9agGcPBGW9"
              class="text-reset">Endereço: DF - Brasília</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
        <h5 class="text-uppercase">Siga-nos</h5>
        <div class="social-icons">
          <a href="https://wa.me/5561981579569" class="text-reset"><i class="fab fab fa-whatsapp"></i></a>
          <a href="#!" class="text-reset"><i class="fab fa-twitter"></i></a>
          <a href="#!" class="text-reset"><i class="fab fa-instagram"></i></a>
          <a href="#!" class="text-reset"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center p-3 copy">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="#">Erivelton DEV</a>
  </div>
</footer>